<app-loading *ngIf="this.showLoadingSpinner"></app-loading>

<div class="main-content" id="main-content">
  <div class="row">
    <div *ngFor="let devis of Devis" class="col-md-4">
      <div class="card">
        <div class="card-header">
          <div class="card-body all-icons">
            <div class="row">
          <div class="font-icon-list col-lg-12 col-md-12 col-sm-12 col-xs-12 col-xs-12">
            <a [routerLink]="[ '/devis-table',devis.numOffre]"><div class="font-icon-detail">
              <i class="now-ui-icons users_circle-08"></i><br><br>
              <h6>Devis de Numero : {{devis.numOffre}} <br> <br></h6>
              <h6>Desc : {{devis.Desc}}</h6>
              <h6>Quantité : {{devis.qty}}</h6>
              <h6>Prix Total : {{devis.p_T_HT}}</h6>

            </div></a>
          </div>
        </div>
        <div class="card-body">
      </div>
    </div>
  </div>
  </div>
</div>
